@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ds-gray-100: #f2f2f2;
  --ds-gray-400: #ebebeb;

  --text: #171717;
  --text-muted: #666666;

  --primary: #00254d;
  --primary-foreground: #0068d6;

  --background: #fff;
  --foreground: #fafafa;
}
